// Display Styles
#display-container {
    $user-height: 400px;
    $user-width: 400px;

    overflow-x: hidden;

    .users-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: ($user-height / 2) * -1;
        margin-left: ($user-width / 2) * -1;
    }

    .user {
        display: inline-block;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .user-photo-container {
        height: $user-height;
        width: $user-width;

        .user-photo {
            width: 100%;
        }
    }

    .user-mentions-container {
        position: absolute;
        bottom: -75px;
        left: -50%;
        width: $user-width * 2;
        text-align: center;

        .user-mention {
            @include user-mention();
            display: inline-block;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}