// Mentions Styles
#mentions-container {
    .users-container {
        position: relative;
    }

    .users-group-a,
    .users-group-b {
        position: absolute;

        .user {
            margin-bottom: 100px;
            position: relative;
        }

        .user-mentions-container {
            width: 900px;
            position: absolute;
            top: 25px;
            @include clearfix();

            .user-mention {
                position: relative;
                opacity: 0;
                @include transform(scale(0, 0));

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 999px;
                    z-index: -10;
                    content: '';
                    display: block;
                    opacity: 0;
                    width: 50px;
                    height: 50px;
                    background: darken($tertiary-color, 10%);
                    @include transform(scale(0, 0));
                }
            }
        }
    }

    .users-group-a {
        left: 0;

        .user-mentions-container {
            left: 110px;

            li {
                float: left;
                margin-right: 15px;
            }
        }
    }

    .users-group-b {
        top: 100px;
        right: 0;

        .user-mentions-container {
            right: 110px;

            li {
                float: right;
                margin-left: 15px;
            }
        }
    }
}