<% group = group == "group_a" ? @users_group_a : @users_group_b %>

<% group.each do |user| %>
    <li class="user">
        <% if user.id == user.get_user_most_mentions %>
            <div class="stars">
                <% 3.times do %>
                    <span class="star-icon fa fa-star"></span>
                <% end %>
            </div>
        <% end %>

        <a class="user-photo-container" href="<%= user_path(user.id) %>">
            <img class="user-photo" src="<%= user_photo_path(user.photo_url) %>" />
            <span class="hidden-info">
                <span class="user-name"><%= user.name %></span>
            </span>
        </a>

        <ul class="user-mentions-container">
            <% user.get_filtered_mentions.reverse_each do |mention| %>
                <%= render partial: "partials/user_mentions", locals: {mention: mention} %>
            <% end %>
        </ul>
    </li>
<% end %>