<div id="new-features-container">
    <h1 class="features-header">New Features</h1>
    <ul class="versions">
        <li>
            <h6 class="version-number">Mentions 1.1</h6>
            <p>It looks like the CS team is using Mentions! So here are some new features that will hopefully make using Mentions even better:</p>
            <ul class="feature-list">
                <li><strong>"Display Mode"!</strong> Mentions is great at your desk, but on the big screen, everything was way too small. The new "Display Mode" shows just 1 user (with a nice big photo) at a time and automatically slides through each user. Perfect for the TV. Note: some of the photos are too small for this new format. If you would like to update your photo, please email Ben (bhenschel@singleplatform.com) a larger photo.</li>
                <li><strong>So many mentions!</strong> Eventually someone is going to get enough mentions that it will run off the screen. So to address this, each user will only see the 12 most recent mentions within the current week. So every week it will reset. But never fear your hard earned mentions aren't gone, because...</li>
                <li><strong>Profile pages!</strong> Now clicking on a user will take you to their profile page. Here you will see every mention that user has ever gotten, and you will find a "Give Mention" button to give that person a new mention.</li>
            </ul>
            <p>I hope everyone continues to enjoy using Mentions. If everyone continues to use it, I'll continue to make improvements. I have a list of other featuers I'd like to add.</p>
            <p>Enjoy!<br />Ben</p>
        </li>
    </ul>

    <p>I'd love to hear your ideas on how to make Mentions better. Email me at bhenschel@singleplatform.com</p>
</div>
