//
// Animations
//
.animate-icon,
.latest-mention {
    @include animation(show 0.6s ease-in-out forwards);

    &:before {
        @include animation(pop 0.8s ease-in-out forwards);
    }
}

.latest-mention {
    &:before {
        @include animation(pop 1s ease-in-out forwards infinite);
    }
}

@include keyframes(show) {
    30% {
        @include transform(scale(0.2, 0.2));
    }
    65% {
        @include transform(scale(0.5, 0.5));
    }
    70% {
        @include transform(scale(1.1, 1.1));
    }
    80% {
        @include transform(scale(1.25, 1.25));
    }
    90% {
        @include transform(scale(0.98, 0.98));
    }
    100% {
        opacity: 1;
        @include transform(scale(1, 1));
    }

}

@include keyframes(pop) {
    55% {
        opacity: 1;
    }
    100% {
        @include transform(scale(1.5, 1.5));
        opacity: 0;
    }
}