//
// Animations
//
$num-stars: 3;
$star-delay: (
    1 : 0.5,
    2 : 0,
    3 : 0.9,
);

.animate-icon {
    @include animation(show 0.6s ease-in-out forwards);

    &:before {
        @include animation(pop 0.8s ease-in-out forwards);
    }
}

.latest-mention {
    &:before {
        @include animation(pop 1s ease-in-out forwards infinite);
    }
}


@for $j from 1 through $num-stars {
    $delay: map-get($star-delay, $j) * 1s;

    .animate-star.star-icon:nth-of-type(#{$j}) {
        @include animation(stars 1.4s ease-in-out $delay infinite);
    }
}

.fade-in-right {
    @include animation(fade-in-right 0.5s ease-in-out forwards);
}

.fade-out-left {
    @include animation(fade-out-left 0.5s ease-in-out forwards);
}


@include keyframes(show) {
    30% {
        @include transform(scale(0.2, 0.2));
    }
    65% {
        @include transform(scale(0.5, 0.5));
    }
    70% {
        @include transform(scale(1.1, 1.1));
    }
    80% {
        @include transform(scale(1.25, 1.25));
    }
    90% {
        @include transform(scale(0.98, 0.98));
    }
    100% {
        opacity: 1;
        @include transform(scale(1, 1));
    }

}

@include keyframes(pop) {
    55% {
        opacity: 1;
    }
    100% {
        @include transform(scale(1.5, 1.5));
        opacity: 0;
    }
}

@include keyframes(stars) {
    20% {
        @include transform(scale(1.5, 1.5));
    }
    25% {
        opacity: 1;
        @include transform(scale(1, 1));
    }
    100% {
        opacity: 0;
        @include transform(translateY(-50px));
    }
}

@include keyframes(fade-in-right) {
    0% {
        opacity: 0;
        @include transform(translateX(300%));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@include keyframes(fade-out-left) {
    0% {
        opacity: 1;
        @include transform(translateX(0));
    }
    100% {
        opacity: 0;
        @include transform(translateX(-300%));
    }
}
